n8n_workflows/frontend_to_sheets_sync.json
{
  "name": "Frontend to Google Sheets Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-single-vehicle",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "sync-single-vehicle-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Simple data passthrough - let Google Sheets node handle the mapping\nconst vehicleData = $input.first().json;\n\nconsole.log('=== SIMPLE PASSTHROUGH ===');\nconsole.log('Raw data:', JSON.stringify(vehicleData, null, 2));\n\n// Just pass the data through with minimal processing\nreturn [{ json: vehicleData }];"
      },
      "id": "process-vehicle-data",
      "name": "Process Vehicle Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "spreadsheet",
        "operation": "append",
        "documentId": "1qY-8pTWkR5RoEi6H93HYnl_6UNVJecEnqQysTRau4Ms",
        "sheetName": "Inventario a web",
               "columns": {
                 "mappingMode": "defineBelow",
                 "value": {
                   "#": "={{ $json.body.id || '' }}",
                   "Grupo": "={{ $json.body.grupo || '' }}",
                   "Ingreso": "={{ $json.body.ingreso || new Date().toLocaleDateString('es-MX') }}",
                   "Modelo": "={{ $json.body.modelo || '' }}",
                   "Marca": "={{ $json.body.marca || '' }}",
                   "Año": "={{ $json.body.año || '' }}",
                   "Color": "={{ $json.body.color || '' }}",
                   "Precio": "={{ $json.body.precio ? '$' + $json.body.precio.toLocaleString() : '' }}",
                   "km": "={{ $json.body.kilometraje || '' }}",
                   "Estatus": "={{ $json.body.estatus || 'Disponible' }}",
                   "Ubicacion": "={{ $json.body.ubicacion || '' }}"
                 }
               },
        "options": {}
      },
      "id": "append-to-sheets",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Vehicle Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Vehicle Data": {
      "main": [
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "frontend-to-sheets-sync",
  "tags": []
}
