n8n_workflows/google_drive_photos.json
{
  "name": "Google Drive Photo Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-photos",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "upload-photos-webhook"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.filename }}",
        "parents": {
          "values": [
            {
              "name": "parent_id",
              "value": "={{ $json.folder_id }}"
            }
          ]
        },
        "binaryData": true,
        "options": {}
      },
      "id": "upload-to-drive",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://autosell-backend.onrender.com/api/vehicles/{{ $json.vehicle_id }}/photos",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "drive_file_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "drive_url",
              "value": "={{ $json.webViewLink }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-vehicle-photos",
      "name": "Update Vehicle Photos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://autosell-backend.onrender.com/api/vehicles/{{ $json.vehicle_id }}/process-photos",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "resize_and_optimize"
            },
            {
              "name": "sizes",
              "value": "thumbnail,medium,large"
            }
          ]
        },
        "options": {}
      },
      "id": "process-photos",
      "name": "Process Photos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Update Vehicle Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Vehicle Photos": {
      "main": [
        [
          {
            "node": "Process Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "google-drive-photos",
  "tags": []
}
