n8n_workflows/google_sheets_sync.json
{
  "name": "Google Sheets Sync Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-sheets",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "sync-sheets-webhook"
    },
    {
      "parameters": {
        "url": "https://autosell-backend.onrender.com/api/vehicles",
        "authentication": "none",
        "requestMethod": "GET",
        "options": {}
      },
      "id": "get-vehicles",
      "name": "Get Vehicles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "spreadsheet",
        "operation": "appendOrUpdate",
        "documentId": "={{ $json.spreadsheet_id }}",
        "sheetName": "Vehicles",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "make": "={{ $json.make }}",
            "model": "={{ $json.model }}",
            "year": "={{ $json.year }}",
            "price": "={{ $json.price }}",
            "status": "={{ $json.status }}",
            "created_at": "={{ $json.created_at }}"
          }
        },
        "options": {}
      },
      "id": "update-google-sheets",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://autosell-backend.onrender.com/api/vehicles/{{ $json.id }}/sync-status",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "last_synced",
              "value": "={{ $now }}"
            },
            {
              "name": "sync_status",
              "value": "success"
            }
          ]
        },
        "options": {}
      },
      "id": "update-sync-status",
      "name": "Update Sync Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Vehicles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vehicles": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Update Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "google-sheets-sync",
  "tags": []
}
