n8n_workflows/google_sheets_to_backend_sync.json
{
  "name": "Google Sheets to Backend Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-from-sheets",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "sync-from-sheets-webhook"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "spreadsheet",
        "operation": "read",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Inventario a web",
        "options": {
          "range": "A2:I1000"
        }
      },
      "id": "read-google-sheets",
      "name": "Read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Google Sheets data and convert to backend format\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const row = item.json;\n  \n  // Skip empty rows\n  if (!row['Modelo'] || !row['Marca']) continue;\n  \n  // Convert Google Sheets format to backend format\n  const vehicle = {\n    marca: String(row['Marca'] || ''),\n    modelo: String(row['Modelo'] || ''),\n    año: (() => {\n      const año = parseInt(row['Año']);\n      return isNaN(año) ? 2000 : año; // Default to 2000 if invalid\n    })(),\n    color: String(row['Color'] || ''),\n    precio: (() => {\n      const precio = row['Precio'];\n      if (!precio || precio === 'INFO' || precio === '') return 0;\n      if (typeof precio === 'string') {\n        return parseFloat(precio.replace(/[$,]/g, '')) || 0;\n      }\n      return parseFloat(precio) || 0;\n    })(),\n    kilometraje: String(row['km'] || ''),\n    estatus: String((row['Estatus'] || 'DISPONIBLE').toUpperCase()),\n    ubicacion: String(row['Ubicacion'] || ''),\n    descripcion: String(`${row['Marca']} ${row['Modelo']} ${row['Año']}`),\n    external_id: String(`GS_${row['Modelo']}_${row['Año']}_${Math.random().toString(36).substr(2, 9)}`)\n  };\n  \n  processedItems.push({ json: vehicle });\n}\n\nreturn processedItems;"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/vehicles/sync-from-sheets",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $input.all().map(item => item.json) }}",
        "options": {}
      },
      "id": "sync-to-backend",
      "name": "Sync to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-sold-status",
              "leftValue": "={{ $json.estatus }}",
              "rightValue": "Vendido",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sold-status",
      "name": "Check Sold Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/vehicles/{{ $json.external_id }}/remove-from-autosell",
        "authentication": "none",
        "requestMethod": "POST",
        "options": {}
      },
      "id": "remove-from-autosell",
      "name": "Remove from Autosell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/vehicles/{{ $json.external_id }}/remove-from-facebook",
        "authentication": "none",
        "requestMethod": "POST",
        "options": {}
      },
      "id": "remove-from-facebook",
      "name": "Remove from Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        400
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Sync to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Backend": {
      "main": [
        [
          {
            "node": "Check Sold Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sold Status": {
      "main": [
        [
          {
            "node": "Remove from Autosell",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove from Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "google-sheets-to-backend-sync",
  "tags": []
}
