n8n_workflows/scheduled_sheets_sync.json
{
  "name": "Scheduled Google Sheets Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "spreadsheet",
        "operation": "read",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Inventario a web",
        "options": {
          "range": "A2:I1000"
        }
      },
      "id": "read-google-sheets",
      "name": "Read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process Google Sheets data and convert to backend format\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const row = item.json;\n  \n  // Skip empty rows\n  if (!row['Modelo'] || !row['Marca']) continue;\n  \n  // Convert Google Sheets format to backend format\n  const vehicle = {\n    external_id: `GS_${row['Modelo']}_${row['A単o']}_${Math.random().toString(36).substr(2, 9)}`,\n    marca: row['Marca'] || '',\n    modelo: row['Modelo'] || '',\n    a単o: parseInt(row['A単o']) || null,\n    color: row['Color'] || '',\n    precio: parseFloat(row['Precio']?.replace(/[$,]/g, '')) || 0,\n    kilometraje: row['km'] || '',\n    estatus: row['Estatus'] || 'DISPONIBLE',\n    ubicacion: row['Ubicacion'] || '',\n    descripcion: `${row['Marca']} ${row['Modelo']} ${row['A単o']}`\n  };\n  \n  processedItems.push({ json: vehicle });\n}\n\nreturn processedItems;"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/vehicles/sync-from-sheets",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vehicles",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sync-to-backend",
      "name": "Sync to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-sold-status",
              "leftValue": "={{ $json.estatus }}",
              "rightValue": "Vendido",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sold-status",
      "name": "Check Sold Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/vehicles/{{ $json.external_id }}/remove-from-autosell",
        "authentication": "none",
        "requestMethod": "POST",
        "options": {}
      },
      "id": "remove-from-autosell",
      "name": "Remove from Autosell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/vehicles/{{ $json.external_id }}/remove-from-facebook",
        "authentication": "none",
        "requestMethod": "POST",
        "options": {}
      },
      "id": "remove-from-facebook",
      "name": "Remove from Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Sync to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Backend": {
      "main": [
        [
          {
            "node": "Check Sold Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sold Status": {
      "main": [
        [
          {
            "node": "Remove from Autosell",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove from Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "scheduled-sheets-sync",
  "tags": []
}
