n8n_workflows/vehicle_processing.json
{
  "name": "Vehicle Processing Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-vehicle",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "process-vehicle-webhook"
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/vehicles/{{ $json.vehicle_id }}",
        "authentication": "none",
        "requestMethod": "GET",
        "options": {}
      },
      "id": "get-vehicle-details",
      "name": "Get Vehicle Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-vehicle-status",
      "name": "Check Vehicle Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/sync-sheets",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vehicle_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "spreadsheet_id",
              "value": "1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms"
            }
          ]
        },
        "options": {}
      },
      "id": "sync-to-sheets",
      "name": "Sync to Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/facebook-post",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_type",
              "value": "auto"
            },
            {
              "name": "message",
              "value": "\ud83d\ude97 Nuevo veh\u00edculo disponible: {{ $json.year }} {{ $json.make }} {{ $json.model }} - ${{ $json.price }}"
            },
            {
              "name": "vehicle_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "post-to-facebook",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/vehicles/{{ $json.id }}/processing-complete",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "processed_at",
              "value": "={{ $now }}"
            },
            {
              "name": "status",
              "value": "completed"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-complete",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Vehicle Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vehicle Details": {
      "main": [
        [
          {
            "node": "Check Vehicle Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Vehicle Status": {
      "main": [
        [
          {
            "node": "Sync to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to Sheets": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "vehicle-processing",
  "tags": []
}